* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  background: #1A1B20;
  color: rgb(213, 213, 213);
  
}
header {
  padding: 6px;   
  display: flex;
  align-items: center;
  justify-content: left; /* אפשר לשנות ל-left later */
  background: #222328;
  border-bottom: 1px solid #404041;
}
header a{
color: inherit;
text-decoration: none;
 

}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 22px;
  font-weight: 600;
}

.logo-icon {
  font-size: 24px;
}

.main{
    display: flex;
    padding: 20px;
    background-color: #404041;
    width: 80vh;
    min-height: 20vh;
    float: right;
    direction: rtl;

}
.img1{
    display: flex;
    float: left;
    margin: 2px;
}
.img2{
    display: flex;
    float: left;
        margin: 2px;
        

}
.imgstock{
    display: grid;
}